html {
    height: 100%;
}

body {
    font-family: 'Jost', sans-serif;
    text-align: center;
    background: #effcff;
    background: -moz-linear-gradient(top, #effcff 0%, #9ee8fa 100%);
    background: -webkit-linear-gradient(top, #effcff 0%, #9ee8fa 100%);
    background: linear-gradient(to bottom, #effcff 0%, #9ee8fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effcff', endColorstr='#9ee8fa', GradientType=0);
    background-repeat: no-repeat;
}

.aqi-card {
    margin: 5% auto auto 15%;
    float: left;
    line-height: 1rem;
    background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    background-repeat: no-repeat;
}

.aqi-img {
    height: 45%;
    width: 45%;
    margin-top: 5%;
}

.card-heading {
    font-size: 2rem;
    font-weight: 700;
}

.card-text {
    font-size: 1.3rem;
    font-weight: 500;
}

h1 {
    margin-top: 3%;
    font-size: 3rem;
    font-weight: 700;
}

.temp-card {
    float: right;
    margin: 5% 15% auto auto;
    line-height: 1rem;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    background-repeat: no-repeat;
}

.temp-img {
    height: 39%;
    width: 35%;
    margin-top: 5%;
}

.reset-btn {
    margin-top: 30%;
}