html {
  height: 100%;
}

body {
  font-family: 'Jost', sans-serif;
  text-align: center;
  background: #effcff;
  background: -moz-linear-gradient(top, #effcff 0%, #9ee8fa 100%);
  background: -webkit-linear-gradient(top, #effcff 0%, #9ee8fa 100%);
  background: linear-gradient(to bottom, #effcff 0%, #9ee8fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#effcff', endColorstr='#9ee8fa', GradientType=0);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.card {
  margin-top: 5%;
  line-height: 1rem;
  border-radius: 5%;
  width: 20rem;
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  background-repeat: no-repeat;
}

.card:hover {
  -webkit-box-shadow: -12px 7px 28px -20px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: -12px 7px 28px -20px rgba(0, 0, 0, 0.91);
  box-shadow: -12px 7px 28px -20px rgba(0, 0, 0, 0.91);
}

@media (max-width: 991.98px) {
  .card {
    width: 50%;
    margin-top: 7%;
  }

  .aqi-img {
    width: 32%;
  }

  .reset-btn {
    margin-top: 9%;
    margin-bottom: 5%;
    font-size: 18px;
    background-color: #4c4c4c;
    color: white;
  }
}

.aqi-img {
  width: 43%;
  margin-top: 5%;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
}

.card-text {
  font-size: 1.3rem;
  font-weight: 500;
}

h1 {
  margin-top: 3%;
  font-size: 3rem;
  font-weight: 700;
}

.temp-img {
  height: 39%;
  width: 35%;
  margin-top: 5%;
}

.reset-btn {
  margin-top: 5%;
  font-size: 17px;
  padding: 0.7%;
}