html {
  height: 100%;
}

body {
  font-family: 'Jost', sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

#main-div {
  position: absolute;
  top: 10%;
}

h1 {
  font-size: 400%;
  font-weight: 700;
  color: white;
  margin-bottom: 3%;
}

.inputs {
  height: 60px;
  border: none;
  margin-bottom: 1.7%;
  padding-left: 1%;
  background: white;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

@media (max-width: 991.98px) {
  .inputs {
    height: 50px;
    margin-bottom: 8%;
    font-size: 17px;
    width: 60%;
  }

  h1 {
    font-size: 300%;
    margin-bottom: 15%;
  }

  #main-div {
    top: 8%;
  }
}

@media (max-width: 767.98px) {
  .inputs {
    height: 40px;
    width: 80%;
  }

  h1 {
    font-size: 200%;
  }
}

#submit-button {
  font-size: 20px;
  font-weight: 200;
  width: 150px;
  margin-top: 1%;
  border-radius: 25px;
}

@media (max-width: 800px) {
  #submit-button {
    margin-top: 5%;
    font-size: 18px;
    padding: 1%;
  }
}